@media (max-width: 320px) {

}

@media (max-width: 768px) {
    .logo-title {
    width: 25%;
    padding-top: 35px;
}

.header-background-img {
    background-image: url(../images/header-background.png);
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 104%;
    object-fit: cover;
}

.scroll img {
    padding: 0!important;
    width: 8%;
}

#all-thing-sport h1 {
    font-size: 35px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 2.6px;
    color: #FFFFFF;
    color: #FFFFFF;
}

#all-thing-sport h5 {
    font-size: 20px;
    color: #D4C0CC;
    font-family: 'Roboto', sans-serif;
}

.scroll {
    padding-top: 5px;
}

.logo {
    width: 60%;
    padding-left: 0.8rem!important;
}

nav .nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.73px;
    text-align: left;
    color: #3c3c3c;
}

.analytics-header-1 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 2.08px;
    text-align: center;
    color: #000000;
}

.analytics-header-2 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 2.08px;
    text-align: center;
    color: #000000;
}

.analytics-content .jumbotron {
    background-color: #FFFFFF;
    position: absolute;
    z-index: 99;
    top: -160px;
    width: 79%;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.3),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.analytics-content .jumbotron p {
    font-family: 'Roboto', sans-serif;
    text-align: center!important;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: 0.73px;
    text-align: left;
    color: #575757;
}

.play-store-btn {
    background-color: #FD022B;
    color: #FFFFFF;
    position: relative;
    left: 35px;
    padding-top: 0rem!important;

}

.product-lunch small{
    font-size: 13px;
}

.product-store-lunch{
    padding-top: 10px!important;    
}

.product-lunch h5{
    font-size: 13px;
}

.scorpad-title {
    font-family: 'Roboto', sans-serif;
    position: relative;
    padding-top: 50px;
    right: 30px;
    font-size: 40px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: 2.08px;
    text-align: center;
    color: #000000;
}

.scorpad-content {
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-size: 15px;
    right: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.55;
    letter-spacing: 0.73px;
    text-align: center;
    color: #575757;
}

.mobile-image-1 {
    position: relative;
    width: 152px;
    bottom: 12px;
    left: -14px;
    object-fit: contain;
}

.mobile-image-2 {
    position: relative;
    bottom: -15px;
    width: 165px;
    right: 15px;
    object-fit: contain;
    margin-bottom: 3em;
}

.form-submit-button {
    position: relative;
    margin-left: 0!important;
    left: 85px;
}

.jumbotron-content{
    padding-top: 15px;
}


.analytics-header {
  padding-top: 0!important;
}


#scorpad-mobile-app .jumbotron {
    background-image: linear-gradient(to right, #1b1464 , #7A305F, #ff002b);
    position: relative;
    bottom: 75px;
    color: #FFFF;
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    margin-top: 65px;
}

#our-team .team-title {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.49;
    letter-spacing: 2.08px;
    text-align: center;
    color: #000000;
}

#our-team .card {
    width: 18rem;
}

#our-team .card-body {
    background-color: #1B1464;
    color: #FFFFFF;
    width: 100%;
}

#our-team p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding: 0px 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: 1.73px;
    color: #575757;
}

#contact-blogs h2 {
    position: relative;
    left: -26px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.49;
    letter-spacing: 2.08px;
    text-align: center;
    color: #000000;
}

#contact-blogs form{
    position: relative;
    left: -30px;
}

#blogs{
    padding-top: 0!important;
}

#blogs h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.49;
    letter-spacing: 2.08px;
    text-align: center;
    color: #000000;
}

#blogs h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.28;
    letter-spacing: 0.73px;
    color: #000000;
}

#blogs p {
    color: #666666;
    font-size: 15px;
}

.newsletter-title {
    font-family: 'Roboto', sans-serif;
    position: relative;
    right: 35px;
    font-size: 30px;
    font-weight: 900;
    padding-top: 0px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.49;
    letter-spacing: 2.08px;
    text-align: center;
    color: #000000;
}

#newsletter p {
    font-family: 'Roboto', sans-serif;
    position: relative;
    left: -35px;
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: 0.52px;
    text-align: center;
    color: #5f5f5f;
}

#newsletter input {
    border: 0;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.12) !important;
    position: relative;
    left: -34px;
    width: 100%;
    text-align: center;
}

.subscribe-button {
    position: relative;
    top: 20px;
    left: 120px;
    background-color: #FF002B;
    color: #FFFF;
    border-top-left-radius: 10px!important;
    border-bottom-left-radius: 10px!important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none !important;
    box-shadow: none !important;
}

footer .footer-titles {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.73px;
    text-align: left;
    color: #ffffff;
}

footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.96;
    letter-spacing: 0.63px;
    text-align: left;
    color: #ffffff;
}

.footer-content {
    padding-top: 10px;
    text-align: center;
}

.footer-icons {
    text-align: center!important;
    padding-bottom: 30px;
}

.input-group {
    padding-bottom: 75px;
}

.mobile-app-content {
    padding-top: 150px;
}

.slider-back-img {
    position: absolute;
    height: 551px;
    width: 305px;
    right: 364px;
    top: -23px;
}

.slide-wrap .inner {
  overflow: hidden;
  position: relative;
  height: 389px;
    width: 254px;
    left: 22px;
    top: -4px;
}

.prev {
    font-size: 0px !important;
    display: none!important;
}

.next {
    font-size: 0px !important;
        display: none!important;
}

}




@media (max-width: 543px) {

}

@media (max-width: 1160px) {

}

@media (min-width: 1025px) and (max-width: 1280px) {

}

@media (max-width: 1330px) {}


@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2){
.mobile-image-1 {
    position: relative;
    width: 345px;
    bottom: 140px;
    left: -35px;
    object-fit: contain;
}

.mobile-image-2 {
    position: relative;
    bottom: 350px;
    right: 20px;
    width: 325px;
    object-fit: contain;
}

.scorpad-title {
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: 2.08px;
    text-align: left;
    color: #000000;
}

.scorpad-content {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.55;
    letter-spacing: -0.27px;
    text-align: left;
    color: #575757;
}

.jumbotron-menu{
    margin-top: 135px;
}

.header-background-img {
    background-image: url(../images/header-background.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.logo-title {
    width: 22%;
    padding-top: 20em;
}

#all-thing-sport h1 {
    font-size: 80px;
    font-weight: bolder;
    padding-top: 65px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 2.6px;
    color: #FFFFFF;
    color: #FFFFFF;
}

#all-thing-sport h5 {
    font-size: 32px;
    color: #D4C0CC;
    font-family: 'Roboto', sans-serif;
}

.logo {
    width: 55%;
    padding-left: 0.8rem!important;
}

nav .nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.73px;
    text-align: left;
    color: #3c3c3c;
}

.analytics-content p {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: 0.73px;
    text-align: left;
    color: #575757;
  }

  .mobile-app-content {
   padding-top: 540px;
}

#our-team p {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    padding: 0px 80px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: 1.73px;
    color: #575757;
}

#blogs h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.28;
    letter-spacing: 0.73px;
    color: #000000;
}

.subscribe-button {
    background-color: #FF002B;
    color: #FFFF;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none !important;
    box-shadow: none !important;
    height: 60px;
}

.form-submit-button {
    position: relative;
    margin-left: 0!important;
    left: 245px;
}

#contact-blogs button {
    background-color: #FF002B;
    outline: 0!important;
    margin-right: 12px;
    font-size: 27px;
}

}

/*I pad*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2){
    .scorpad-title {
    font-family: 'Roboto', sans-serif;
    position: relative;
    padding-top: 50px;
    right: 33px;
    font-size: 30px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: 2.08px;
    text-align: left;
    color: #000000;
}

.scorpad-content {
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-size: 13px;
    right: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.55;
    letter-spacing: 0.73px;
    text-align: left;
    color: #575757;
}

.play-store-btn {
    background-color: #FD022B;
    color: #FFFFFF;
    position: relative;
    left: -30px;
    margin-bottom: 50px;
    padding-top: 0rem!important;
}

.mobile-app-content {
    padding-top: 250px;
}

.mobile-image-2 {
    position: relative;
    bottom: 90px;
    width: 165px;
    right: 15px;
    object-fit: contain;
    margin-bottom: 3em;
}

.form-submit-button {
    position: relative;
    margin-left: 0!important;
    left: 175px;
}

.text-right {
    text-align: right!important;
}

.mobile-image-1 {
    position: relative;
    width: 200px;
    bottom: 12px;
    left: -14px;
    object-fit: contain;
}

.mobile-image-2 {
    position: relative;
    bottom: 90px;
    width: 210px;
    right: 15px;
    object-fit: contain;
    margin-bottom: 3em;
}

.form-submit-button {
    text-align: center!important;
}

.scroll img {
    padding: 0!important;
    width: 6%;
}

}